.container.navigation {
    height: 3rem;
    background-color: #63656D;
    padding: 0 1rem;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.253);
    mix-blend-mode: overlay; */
    color: white;
    /* width: 1130px; */
    /* margin-top: 2rem; */
}

header {
    padding-top: 2rem;
}

body {
    background-color: #e5e5e5;
}

main {
    height: 100%;
}

section.general {
    margin: 3rem 0;
}

section.general .container .lines .top .line {
    width: 8rem;
    height: 0.5rem;
    background-color: #63656D;
    color: #63656D;
    border-radius: 2rem;
    /* position: relative */
}

section.general .container .lines .top {
    gap: 0.5rem;
}

section.start {
    height: 100%;
}

section.start .container {
    height: 100%;
}

section.start .button {
    gap: 0.5rem;
}

section.start .left {
    height: 100%;
}

section.start .button h3 {
    color: #63656D;
}

section.start .circle {
    height: 2rem;
    width: 2rem;
    /* background-color: #3B5182; */
    border-radius: 100px;
    border-radius: 50px;
    /* background: #FFA5C6; */
    background: linear-gradient(145deg, #3f578b, #354975);

}

section.start .right .control img {
    width: 10rem;
}

section.start .control {
    width: 13rem;
    height: 13rem;
    background-color: #63656D;
    border-radius: 100rem;
    margin-bottom: 4rem;
}

section.start .control .button {
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
}

section.start .control .button img {
    width: 3rem;
}

section.start .control .button.play {
    background-color: #FF3015;
    transform: translateY(-3.2rem);
}

section.start .control .button.restart {
    background-color: #00E859;
    transform: translateX(3.2rem);
}

section.start .control .button.exit {
    background-color: #347DC2;
    transform: translateY(3.2rem);

}

section.start .control .button.theme {
    background-color: #FFCC00;
    transform: translateX(-3.2rem);

}

section.start .screen .back-screen {
    background-color: #24ADB7;
    border: 2px solid #C23055;
    width: 32rem;
    height: 42rem;
}

section.start .screen .main-screen {
    background-color: #222;
    height: 35rem;
    width: 25rem;
    /* background-color: #222;
    height: 100%;
    width: 100%; */
    background-image: url("../images/block.svg");
    background-size: 2.5rem 2.5rem;
    background-repeat: repeat;
}

section.start .screen .main-screen img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

section.start .screen .main-screen a {
    color: #3B5182;
    background-color: #FFCC00;
    padding: 1.5rem;
    border-radius: 1rem;
    z-index: 1
}

section.start .screen .main-screen .box-1 {
    transform: translateX(-8.8rem) translateY(-13.8rem);
}

section.start .screen .main-screen .box-2 {
    transform: translateX(8.7rem) translateY(-11.3rem);
}

section.start .screen .main-screen .box-3 {
    transform: translateX(1.2rem) translateY(-3.8rem);
}

section.start .screen .main-screen .box-4 {
    transform: translateX(-6.3rem) translateY(8.7rem);
}

section.start .screen .main-screen .box-5 {
    transform: translateX(6.2rem) translateY(13.7rem);
}

section.start .screen .main-screen .blocks {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    transform: translateX(-5rem) translateY(12.5rem);
}

section.start .screen .main-screen .top-block {
    width: 7.5rem;
    height: 5rem;
    object-fit: cover;
    transform: translateX(3.8rem) translateY(-12.5rem);
}

section.start .right .next {
    gap: 1.5rem;
}

section.start .right .next h2 {
    color: #3B5182;
}

section.start .right .next .container-next {
    width: 13rem;
    padding: 1rem 0;
    background-color: #222;
    border: 2px solid #C23055;
}

section.start .right .score {
    gap: 1.5rem;
}

section.start .right .score h2 {
    color: #3B5182;
}

section.start .right .score h3 {
    color: #C23055;
}

section.start .right .score .container-next {
    width: 13rem;
    padding: 1rem 0;
    background-color: #222;
    border: 2px solid #C23055;
}

section.start .data {
    gap: 2rem;
}

section.start .screen .main-screen h2 {
    color: #FFCC00;
    margin-top: 3rem;
}

section.start .screen .main-screen .player {
    width: 17.5rem;
    height: 2.5rem;
    background-color: #6ECCE9;
    padding: 0 0.5rem;
    color: #222;
}

section.start .screen .main-screen .item {
    width: auto;

}

section.start .screen .main-screen {
    gap: 2rem;
}

section.start .screen .main-screen .list {
    gap: 0.5rem;
}

/* section.start .screen .main-screen .item img{
    padding-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
} */

section.start .screen .main-screen .item .position {
    color: #FFCC00;
    width: 2.5rem;
}

/*Модальное окно CSS*/
/* Затемнение */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Контейнер модального контента */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    max-width: 32rem;
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25); */
    animation: fadeIn 0.3s ease-in-out;
    line-height: 150%;
}


.close {
    cursor: pointer;
}

@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }

    .container {
        width: 960px;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 12px;
    }

    .container {
        width: 720px;
    }
}

@media (max-width: 740px) {
    html {
        font-size: 10px;
    }

    .container {
        width: 100%;
    }

    section {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }

    .container {
        width: 100%;
    }

    section {
        padding: 0 20px;
    }

    .container.navigation {
        padding: 0 20px;
    }


    section.start .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    section.start .right .control {
        display: flex;
        margin-top: 2rem;
    }

    section.start .left .control {
        display: none;
    }

    section.start .screen {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.start .container {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
}