.container {
    width: 1140px;
    margin: 0 auto;
}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w25 {
    width: 25%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.df {
    display: flex;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jce {
    justify-content: end;
}

.aic {
    align-items: center;
}

.aie {
    align-items: end;
}

.aib {
    align-items: baseline;
}

.column-dir {
    flex-direction: column;
}

.j10 {
    font-family: "j10";
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
}

.j20 {
    font-family: "j20";
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
}

body {
    overflow-x: hidden;
    height: 100vh;
}

.italic {
    font-style: italic;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.shadowin4 {
    position: relative;
}

.shadowin4:before,
.shadowin4:after {
    content: "";
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.shadowin4:before {
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.247);
}

.shadowin4:after {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.253);
}

.shadowin2 {
    position: relative;
}

.shadowin2:before,
.shadowin2:after {
    content: "";
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.shadowin2:before {
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.247);
}

.shadowin2:after {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.253);
}


.shadow4 {
    position: relative;
    z-index: 0;
    /* важно */
}

.shadow4::before,
.shadow4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1;
}

.shadow4::before {
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.4);
}

.shadow4::after {
    box-shadow: 4px 4px 4px rgba(82, 4, 43, 0.3);
}

.shadow-wrapper {
    position: relative;
    /* width: 8rem; */
    /* height: 0.5rem; */
    /* border-radius: 2rem; */
}

.shadow-text {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    mix-blend-mode: overlay;
    /* box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25),
        4px 4px 4px rgba(255, 255, 255, 0.25); */
    text-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
    pointer-events: none;
}

.line {
    width: 100%;
    height: 100%;
    background-color: #C23055;
    border-radius: 2rem;
    z-index: 1;
}


.drop-shadow-in {
    box-shadow: 4px 4px 4px rgb(255, 255, 255),
        -4px -4px 4px rgba(0, 0, 0, 0.2);

}

.inner-shadow-in {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2) inset,
        -4px -4px 4px rgba(255, 255, 255, 0.2) inset;
}

.drop-shadow-out {
    box-shadow: -4px -4px 4px rgb(255, 255, 255),
        4px 4px 4px rgba(0, 0, 0, 0.2);

}

.inner-shadow-out {
    box-shadow: -4px -4px 4px rgb(0, 0, 0, 0.2) inset,
        4px 4px 4px rgba(255, 255, 255, 0.2) inset;
}

.text-drop-shadow-in {
    text-shadow: 4px 4px 4px rgb(255, 255, 255),
        -4px -4px 4px rgba(0, 0, 0, 0.2);

}

.text-inner-shadow-in {
    text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2) inset,
        -4px -4px 4px rgba(255, 255, 255, 0.2) inset;
}

.text-drop-shadow-out {
    text-shadow: -4px -4px 4px rgb(255, 255, 255),
        4px 4px 4px rgba(0, 0, 0, 0.2);

}

/* .text-inner-shadow-out {
    text-shadow: inset -4px -4px 4px rgba(255, 0, 0, 0.2),
        inset 4px 4px 4px rgba(255, 255, 255, 0.2);
} */

.text-inner-shadow-out {
    background-color: #000000;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}